<div class="min-w-screen min-h-screen bg-gray-950 flex items-center justify-center px-5 py-5">

  <div class="w-full mx-auto text-gray-100 text-gray-800 relative overflow-hidden shadow-2xl" style="max-width: 350px;">
    
    <h1 class="text-center text-white py-10 text-3xl font-bold">{{title}}</h1>
     <!-- calculator screen  -->
    <div class="w-full h-40 bg-gradient-to-b from-gray-200 to-gray-300 text-right shadow-2xl" >

      <!-- number screen  -->
      <div class="w-full py-5 px-6 text-6xl text-gray-900 font-thin">{{display}}</div>
      
      
    </div>
    <!-- end calculator screen  -->


    <!-- calculator button area  -->
    <div class="w-full bg-gradient-to-b from-gray-700 to-gray-800">

      <!-- first button row  -->
      <div class="flex w-full">

        <!-- clear button  -->
        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none  hover:bg-gray-800 hover:bg-opacity-50 text-white  text-xl font-light" (click)="clear()">C</button>
        </div>
        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none  hover:bg-gray-800 hover:bg-opacity-50 text-white  font-light text-white text-2xl" (click)="removeLastCharacter()">&#x232b;</button>
        </div>
        <!-- end clear button  -->
        
        <!-- percentage button  -->
        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus-outline-none hover:bg-gray-800 hover:bg-opacity-50 text-xl text-white font-light text-white" (click)="appendToDisplay('%')"> % </button>
        </div>
        <!-- end percentage button  -->

        <!-- division button  -->
        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus-outline-none hover:bg-gray-800 hover:bg-opacity-50 text-2xl text-white font-light text-white" (click)="appendToDisplay('/')"> / </button>
        </div>
        <!-- end division button  -->

      </div>
      <!-- end first button row  -->

      <!-- start second button row  -->
      <div class="flex w-full">

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('7')">7</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('8')">8</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('9')">9</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none  hover:bg-gray-800 hover:bg-opacity-50 text-white  text-xl font-light text-white" (click)="appendToDisplay('*')"> * </button>
        </div>
       
      </div>
      <!-- end second button row  -->

      <!-- start third button row  -->
      <div class="flex w-full">

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('4')">4</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('5')">5</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('6')">6</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-gray-800 hover:bg-opacity-50 text-white  text-xl font-light text-white" (click)="appendToDisplay('-')"> - </button>
        </div>
       
      </div>
      <!-- end third button row  -->

      <!-- start fourth button row  -->
      <div class="flex w-full">

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('1')">1</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('2')">2</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('3')">3</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-gray-800 hover:bg-opacity-50 text-xl font-light text-white" (click)="appendToDisplay('+')"> + </button>
        </div>
       
      </div>
      <!-- end fourth button area  -->

      <!-- start fifth button row  -->
      <div class="flex w-full">

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('0')">0</button>
        </div>

        <div class="w-1/4 border-r border-b border-gray-500">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-white  text-xl font-light" (click)="appendToDisplay('.')">.</button>
        </div>

        <div class="w-2/4 border-r border-b border-gray-500 ">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-gray-800 hover:bg-opacity-50 text-white  text-xl font-light bg-gray-900" (click)="calculate()"> = </button>
        </div>
       
      </div>
      <!-- end fifth button row  -->


    </div>
    <!-- end calculator button area  -->

  </div>

</div>